# This is a basic workflow to help you get started with Actions

name: CI

on:
  push:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          fetch-depth: 2
      - name: Check for new files and upload if necessary
        run: |
          if [[ `git diff --name-only --diff-filter=A HEAD~1 -- file_requests/` ]]; then
              echo "There are files to be uploaded. Installing bioblend..."
              pip install bioblend
              for new_links_file in `git diff --name-only --diff-filter=A HEAD~1 -- file_requests/`; do
                  echo "Uploading $new_links_file..."
                  python upload_file_to_galaxy.py $new_links_file 'FTP links by library' -g https://usegalaxy.eu -a ${{ secrets.GALAXY_API_KEY }} -i 311a32d7489f126c
              done
          else
              echo "No new files added in the last commit."
          fi
